.main-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 8rem;
    background-color: var(--bg-color);
}

.main-footer aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    margin-right: 2rem;
    margin-left: 2rem;
}

.footer-terms-contact {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
.footer-terms-contact a {
    color: var(--normal-text-color);
}

.copyright-text {
    font-size: .9rem;
}