.input {
    padding: 0.6rem;
    padding-left: 1rem;
    border-style: none;
    border-radius: 0.2rem;
    color: var(--bg-color);
    font-size: 1.2rem;
}

.submit-button {
    color: var(--bg-color);
    background-color: var(--title-color);
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

.label {
    font-size: 1.3rem;
    color: var(--subtitle-color);
    margin-bottom: .8rem;
    margin-top: .8rem;
}