.main {
    margin-top: 2.5rem;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
}

/* filtering section-start */
#filter-section {
    display: flex;
    flex-direction: column;
}

.filters-toggle {
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-form-color);
    padding: 1.5rem;
    border-radius: .2rem .2rem 0rem 0rem;
}

.filters-toggle span {
    color: var(--title-color);
    font-weight: bold;
    letter-spacing: .12rem;
}

.filter-container {
    align-self: flex-start;    
    border-radius: 0rem 0rem .2rem .2rem;
    width: 100%;
    background-color: var(--bg-form-color);
}

.filter-item {
    display: flex;
    flex-direction: column;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}

.col-2 {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.filter-item.col-2 {
    margin-top: .2rem;
    margin-bottom: 1.2rem;
}

.col-2 > div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.submit-item {
    margin-top: 1.5rem;
    margin-bottom: 1.2rem;
}

.submit-item > button {
    color: var(--bg-color);
    background-color: var(--title-color);
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

.submit-item > button:hover {
    background-color: var(--title-color-hover);
    cursor: pointer;
}

/* filtering section-end */


/* beers section-start */
#beers-section {
    margin-top: 2.5rem;
}

/* beers section-end */
