:root {
    --bg-color: #363537;
    --body-color: #313638;
    --title-color: #D68712;
    --title-color-hover: #DD9C3D;
    --subtitle-color: #CDD5D1;
    --normal-text-color: #E0DFD5;
    --bg-form-color: #605B56;
}